.cards-row-1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.CARD {
  margin: 1.5rem 0;
}

/* extra */
.card-img {
  width: 80%;
  min-height: 200px;
  box-shadow: 0 0 0.2rem 0.2rem #c8d0e7;
}
.card-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*=================================================================*/
/*----------------------Media query start--------------------------*/
/*=================================================================*/
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
  ## oneplus6T width 412px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .cards-row-1 {
    margin-top: initial;
  }
}
/*=================================================================*/
/*----------------------Media query End----------------------------*/
/*=================================================================*/
